/*!
#color
white:white, blue:blue, gray:gray, yellow:yellow, red:red, black:black
bg:background, c:color, br:border-radius, bs:box-shadow
#margin-padding
ma:margin, mar:margin-right, mal:margin-left, mat:margin-top, mab:margin-bottom, mah:margin-horizontal, mav:margin-vertical, pa:padding, par:padding-right, pal:padding-left, pat:padding-top, pab:padding-bottom, pah:padding-horizontal, pav:padding-vertical (0-4)
#border
bo:border, bor:right, bol:left, bot:top, bob:bottom, boh:border-horizontal, boh:border-vertical (0-4)
br:border-radius (0-4 and o for rounded)
wi:width (10,20..100), he:height (10,20..100), img-sq-xx:img square cover in px(20,30,40,60,80,100,150,200)
*/
:root {
	--white:#FFF;
	--blue:#007BFF;
	--gray:#A9A9A9;
	--yellow:#FFC440;
	--green:#21f79d;
	--red:#E9470C;
	--black:#332C2B; 
	--dark-blue:#0067D6;
	--dark-gray:#787878;
	--dark-yellow:#B83607;
	--dark-green:#10cc7e;
	--dark-red:#E9470C;
	--dark-black:#080808;
	--1:0.5rem;
	--2:1rem;
	--3:1.5rem;
	--4:2rem;
}
@media only screen and (max-width: 720px)  {
	
}
.bar-t{
	position: sticky;
	top:0;
	width: 100%;
	z-index:2010 ;
}
body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.container-full{
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.cont{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.subcont-1{
	flex: 0 0 auto;
	width: 10%;
	overflow: auto;
} 
.subcont-2{
	flex: 0 0 auto;
	width: 20%;
	overflow: auto;
} 
.subcont-3{
	flex: 0 0 auto;
	width: 30%;
	overflow: auto;
} 
.subcont-4{
	flex: 0 0 auto;
	width: 40%;
	overflow: auto;
} 
.subcont-5{
	flex: 0 0 auto;
	width: 50%;
	overflow: auto;
} 
.subcont-6{
	flex: 0 0 auto;
	width: 60%;
	overflow: auto;
} 
.subcont-7{
	flex: 0 0 auto;
	width: 70%;
	overflow: auto;
} 
.subcont-8{
	flex: 0 0 auto;
	width: 80%;
	overflow: auto;
} 
.subcont-9{
	flex: 0 0 auto;
	width: 90%;
	overflow: auto;
} 
.subcont-10{
	flex: 0 0 auto;
	width: 100%;
	overflow: auto;
} 
.bt{
	border-radius:4px;
	border:none;
	padding:var(--1);
	margin:4px;
	cursor: pointer;
}
.xxsma{ 
	padding:0;
}
.xsma{ 
	padding:0.2rem;
}
.sma{ 
	padding:var(--1);
}
.med{ 
	padding:var(--2);
}
.lar{ 
	padding:var(--3);
	font-size:20px;
}
.xlar{ 
	padding:var(--4);
	font-size:22px;
}
.bt:hover, .bg:hover{
	filter:brightness(0.8);
	transition:0.5 ease;
	color:var(--white);
}
.bt:focus, .bg:focus{
	filter:brightness(1);
	transition:0.5 ease;
}
.soft{
	opacity:0.5;
	transition:0.2;
}
.bg-white{
	background:var(--white);
	color:var(--black);
}
.bg-white:hover{
	filter:brightness(1);
	background:white;
	color:var(--gray);
}
.bg-white:focus{  
	color:var(--black);
}
.bg-blue{
	background:var(--blue);
	color:var(--white);
}
.bg-gray{
	background:var(--gray);
	color:var(--white);
}
.bg-yellow{
	background:var(--yellow);
	color:var(--white);
}
.bg-green{
	background:var(--green);
	color:var(--white);
}
.bg-red{
	background:var(--red);
	color:var(--white);
}
.bg-black{
	background:var(--black);
	color:var(--white);
}
.c-white{
	color:var(--white);
}
.c-blue{
	color:var(--blue);
}
.c-gray{
	color:var(--gray);
}
.c-yellow{
	color:var(--yellow);
}
.c-green{
	color:var(--green);
}
.c-red{
	color:var(--red);
}
.c-black{
	color:var(--black);
}
.br-0{
	border-radius:0;
}
.br-1 {
	border-radius:var(--1);
}
.br-2 {
	border-radius:var(--2);
}
.br-3 {
	border-radius:var(--3);
}
.br-4 {
	border-radius:var(--4);
}
.br-o {
	border-radius:100%;;
}
.ma-0{
	margin:0;
}
.ma-1{
	margin:var(--1);
}
.ma-2{
	margin:var(--2);
}
.ma-3{
	margin:var(--3);
}
.ma-4{
	margin:var(--4);
}
.mal-0{
	margin-left:0;
}
.mal-1{
	margin-left:var(--1);
}
.mal-2{
	margin-left:var(--2);
}
.mal-3{
	margin-left:var(--3);
}
.mal-4{
	margin-left:var(--4);
}
.mar-0{
	margin-right:0;
}
.mar-1{
	margin-right:var(--1);
}
.mar-2{
	margin-right:var(--2);
}
.mar-3{
	margin-right:var(--3);
}
.mar-4{
	margin-right:var(--4);
}
.mat-0{
	margin-top:0;
}
.mat-1{
	margin-top:var(--1);
}
.mat-2{
	margin-top:var(--2);
}
.mat-3{
	margin-top:var(--3);
}
.mat-4{
	margin-top:var(--4);
}
.mab-0{
	margin-bottom:0;
}
.mab-1{
	margin-bottom:var(--1);
}
.mab-2{
	margin-bottom:var(--2);
}
.mab-3{
	margin-bottom:var(--3);
}
.mab-4{
	margin-bottom:var(--4);
}
.mah-0{
	margin-left:0;
	margin-right:0;
}
.mah-1{
	margin-left:var(--1);
	margin-right:var(--1);
}
.mah-2{
	margin-left:var(--2);
	margin-right:var(--2);
}
.mah-3{
	margin-left:var(--3);
	margin-right:var(--3);
}
.mah-4{
	margin-left:var(--4);
	margin-right:var(--4);
}
.mav-0{
	margin-top:0;
	margin-bottom:0;
}
.mav-1{
	margin-top:var(--1);
	margin-bottom:var(--1);
}
.mav-2{
	margin-top:var(--2);
	margin-bottom:var(--2);
}
.mav-3{
	margin-top:var(--3);
	margin-bottom:var(--3);
}
.mav-4{
	margin-top:var(--4);
	margin-bottom:var(--4);
}
.pa-0{
	padding:0;
}
.pa-1{
	padding:var(--1);
}
.pa-2{
	padding:var(--2);
}
.pa-3{
	padding:var(--3);
}
.pa-4{
	padding:var(--4);
}
.pal-0{
	padding-left:0;
}
.pal-1{
	padding-left:var(--1);
}
.pal-2{
	padding-left:var(--2);
}
.pal-3{
	padding-left:var(--3);
}
.pal-4{
	padding-left:var(--4);
}
.par-0{
	padding-right:0;
}
.par-1{
	padding-right:var(--1);
}
.par-2{
	padding-right:var(--2);
}
.par-3{
	padding-right:var(--3);
}
.par-4{
	padding-right:var(--4);
}
.pat-0{
	padding-top:0;
}
.pat-1{
	padding-top:var(--1);
}
.pat-2{
	padding-top:var(--2);
}
.pat-3{
	padding-top:var(--3);
}
.pat-4{
	padding-top:var(--4);
}
.pab-0{
	padding-bottom:0;
}
.pab-1{
	padding-bottom:var(--1);
}
.pab-2{
	padding-bottom:var(--2);
}
.pab-3{
	padding-bottom:var(--3);
}
.pab-4{
	padding-bottom:var(--4);
}
.pah-0{
	padding-left:0;
	padding-right:0;
}
.pah-1{
	padding-left:var(--1);
	padding-right:var(--1);
}
.pah-2{
	padding-left:var(--2);
	padding-right:var(--2);
}
.pah-3{
	padding-left:var(--3);
	padding-right:var(--3);
}
.pah-4{
	padding-left:var(--4);
	padding-right:var(--4);
}
.pav-0{
	padding-top:0;
	padding-bottom:0;
}
.pav-1{
	padding-top:var(--1);
	padding-bottom:var(--1);
}
.pav-2{
	padding-top:var(--2);
	padding-bottom:var(--2);
}
.pav-3{
	padding-top:var(--3);
	padding-bottom:var(--3);
}
.pav-4{
	padding-top:var(--4);
	padding-bottom:var(--4);
}
.bo-0{
	border:none;
}
.bo-1{
	border:1px solid var(--gray);
}
.bol-0{
	border-left:none;
}
.bol-1{
	border-left:1px solid var(--gray);
}
.bor-0{
	border-right:none;
}
.bor-1{
	border-right:1px solid var(--gray);
}
.bot-0{
	border-top:none;
}
.bot-1{
	border-top:1px solid var(--gray);
}
.bob-0{
	border-bottom:none;
}
.bob-1{
	border-bottom:1px solid var(--gray);
}
.boh-0{
	border-left:none;
	border-right:none;
}
.boh-1{
	border-left:1px solid var(--gray);
	border-right:1px solid var(--gray);
}
.bov-0{
	border-bottom:none;
	border-top:none;
}
.bov-1{
	border-top:1px solid var(--gray);
	border-bottom:1px solid var(--gray);
}
.bs-1{
	box-shadow:0 0 15px 0px #0000001a;
}
.t-align-l{
	text-align:left;
}
.t-align-r{
	text-align:right;
}
.t-align-c{
	text-align:center;
}
.t-align-j{
	text-align:justify;
}
.v-align-t{
	vertical-align:top;
}
.v-align-m{
	vertical-align:middle;
}
.v-align-b{
	vertical-align:baseline;
}
.float-r{
	float:right;
}
.float-l{
	float:left;
}
.flex-c{
	display:flex;
	flex-direction:column;
}
.flex-r{
	display:flex;
	flex-direction:row;
}
.align-start{
	align-items:flex-start
}
.align-end{
	align-items:flex-end;
}
.align-center{
	align-items:center;
}
.align-baseline{
	align-items:baseline;
}
.justify-start{
	justify-content:flex-start;
}
.justify-end{
	justify-content:flex-end;
}
.justify-center{
	justify-content:center;
}
.justify-between{
	justify-content:space-between;
}
.justify-around{
	justify-content:space-around;
}
.wi-10{
	width:10%;
}
.wi-20{
	width:20%;
}
.wi-30{
	width:320%;
}
.wi-40{
	width:40%;
}
.wi-50{
	width:50%;
}
.wi-60{
	width:60%;
}
.wi-70{
	width:70%;
}
.wi-80{
	width:80%;
}
.wi-90{
	width:90%;
}
.wi-100{
	width:100%;
}
.he-10{
	height:10%;
}
.he-20{
	height:20%;
}
.he-30{
	height:320%;
}
.he-40{
	height:40%;
}
.he-50{
	height:50%;
}
.he-60{
	height:60%;
}
.he-70{
	height:70%;
}
.he-80{
	height:80%;
}
.he-90{
	height:90%;
}
.he-100{
	height:100%;
}
.img-sq-20{
	width:20px;	
	height:20px;
	object-fit:cover;
	border-radius:4px;
}
.img-sq-30{
	width:30px;	
	height:30px;
	object-fit:cover;
	border-radius:4px;
}
.img-sq-40{
	width:40px;	
	height:40px;
	object-fit:cover;
	border-radius:4px;
}
.img-sq-60{
	width:60px;	
	height:60px;
	object-fit:cover;
	border-radius:4px;
}
.img-sq-80{
	width:80px;	
	height:80px;
	object-fit:cover;
	border-radius:4px;
}
.img-sq-100{
	width:100px;	
	height:100px;
	object-fit:cover;
	border-radius:4px;
}
.img-sq-150{
	width:150px;	
	height:150px;
	object-fit:cover;
	border-radius:4px;
}
.img-sq-200{
	width:200px;	
	height:200px;
	object-fit:cover;
	border-radius:4px;
}
.bar-l{
	border-right:1px solid var(--gray);
	height:100vh;
	position: sticky;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.a-link{
	padding: 10px;
	text-decoration: none;
	color:var(--gray);
	width: 100%;
}
.a-link:hover{
	color:var(--black);
	background: var(--gray); 
}
.ov-x-none{
	overflow-x: hidden;
}